body {
  height: 100vh;
  margin: 0 15px;
  background-color: lightgray;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: darkblue;
  display: flex;
  flex-wrap: wrap;
  
}

header {
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  font-size: 1.75em;
  display: flex;
  width: 45vw;
  justify-content: space-between;
  align-items: center;
}

nav a {
  padding: 8px;
  text-decoration: none;
  border-radius: 15px;
}

main {
  display: flex;
  height: 84vh;
  gap: 3ch;
}

aside ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 2ch;
}

.brand {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2.5em;
  text-transform: uppercase;
  margin: 0;
}