body {
  background-color: lightgray;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: darkblue;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  margin: 0 15px;
}

header {
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  font-size: 1.5em;
  display: flex;
  width: 35vw;
  justify-content: space-between;
}

nav a {
  background-color: darkblue;
  color: lightgray;
  text-decoration: none;
  border: 0.5px solid;
}

.brand {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  margin: 0;
}