body {
  background-color: lightgray;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: darkblue;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  margin: 0 15px;
}

header {
  width: 100%;
  display: flex;
}